.section{
    margin-bottom: 20px;
}

.tasks{
  width: 100%;
}

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px var(--color-4);
  min-height: 60px;
  display: block;
  background: var(--color-3);
  border-radius: 4px;
  overflow: hidden;

  .example-box {
    min-height: 50px;
    padding: 10px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    background: var(--color-3);
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap; /* This enables wrapping when there isn't enough space */


    .item-name{
      flex-shrink: 1; /* Allows the div to shrink if needed */
      width: 700px;
      overflow: hidden; /* Hide overflowed content */
      text-overflow: ellipsis; /* Add three dots for overflowed text */
      white-space: nowrap; /* Prevent text from wrapping to the next line */
      font-size: 16px;

      @media screen and (max-width:750px) {
        max-width: 500px;
      }

      @media screen and (max-width:550px) {
        max-width: 200px;
      }

    }

    .task-info{
      width: 150px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .progress-badge{
        border-radius: 3px;
        padding: 2px;
        font-size: 10px;
        height: 30px;
        max-width: 110px;
        min-width: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .to_do{
        background-color: #777;
      }

      .in_progress{
        background-color: rgb(47, 143, 221);
      }

      .done{
        background-color: rgb(62, 151, 62);
      }

    }



  }

  .example-box:not(:last-child){
    border-bottom: solid 1px var(--color-4);
  }


}


.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.cdk-drag-preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow: hidden;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
