<div class="page">
  <div class = "tasks">

    <div class = "section">
      @if(isTaskFormOpened){
        <button mat-flat-button (click) = "toggleFormView()">
          <mat-icon>close</mat-icon> CLOSE
        </button>
      }@else{
        <button mat-flat-button style="background-color:var(--button-primary)" (click) = "toggleFormView()">
          <mat-icon>add</mat-icon> CREATE TASK
        </button>
      }
    </div>

    @if(isTaskFormOpened){
      <div class="section">
        <app-task-form></app-task-form>
      </div>
    }



    <div cdkDropList class="example-list section" (cdkDropListDropped)="drop($event)">
    @if(loadingStatus === TasksLoadingStatus.success){
      @for (task of taskList; track task.id) {
        <div class="example-box" cdkDragBoundary=".example-list" cdkDragLockAxis="y" cdkDrag>

          @if(selectedTask?.id === task.id && selectedTask?.deleteStatus === TasksLoadingStatus.loading){
            <mat-spinner [color]="'#fff'" [diameter]="20"></mat-spinner>
          }@else {
            <div class = "item-name">
              {{task.title}}
            </div>
            <div class = "task-info">
                <span class = "progress-badge"
                  [ngClass] = "{
                    'to_do':task.status === TaskProgress.TO_DO,
                    'in_progress':task.status === TaskProgress.IN_PROGRESS,
                    'done':task.status === TaskProgress.DONE
                  }"
                  >
                  @if(selectedTask?.id === task.id && selectedTask?.changeProgressStatus === TasksLoadingStatus.loading;){
                    <span style="display: flex;justify-content: center;align-items: center;">
                      <mat-spinner [color]="'#fff'" [diameter]="20"></mat-spinner>
                    </span>
                  }@else {
                      <span>
                        {{getProgressStatusName(task.status)}}
                      </span>
                      <span>
                        <button mat-icon-button aria-label="change progress status" [matMenuTriggerFor]="menu">
                          <mat-icon style="color:white" >keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf = "task.status != TaskProgress.TO_DO" (click) = "changeStatus(task,TaskProgress.TO_DO)">TO DO</button>
                            <button mat-menu-item *ngIf = "task.status != TaskProgress.IN_PROGRESS" (click) = "changeStatus(task,TaskProgress.IN_PROGRESS)">IN PROGRESS</button>
                            <button mat-menu-item *ngIf = "task.status != TaskProgress.DONE" (click) = "changeStatus(task,TaskProgress.DONE)">DONE</button>
                        </mat-menu>
                      </span>
                  }
                  </span>


              <button mat-icon-button aria-label="Remove" (click) = "openDialog(task.id)">
                <mat-icon style="color:var(--color-4)" >delete</mat-icon>
              </button>
            </div>
          }


          <!-- <div class="example-box-drag-preview" *cdkDragPreview>
              {{task.title}}
          </div> -->
        </div>
      }@empty {
        no tasks yet
      }
    }

    @if(loadingStatus === TasksLoadingStatus.pending || loadingStatus === TasksLoadingStatus.loading){
      <ngx-skeleton-loader [theme]="{height: '50px', background: '#21262d',marginBottom:'-5px'}" count="8" appearance="line" />
    }

    </div>
  </div>
</div>
