<!-- <mat-toolbar class ="header">
  <button mat-icon-button  aria-label="Example icon-button with menu icon">
    <mat-icon>done_all</mat-icon>
  </button>
  <span>TASK MANAGER</span>
  <span class="example-spacer"></span>
  <button mat-button>Projects</button>
  <button mat-raised-button  color="accent">An Angular Material button</button>

</mat-toolbar> -->

<mat-toolbar class = "header">
  <button mat-icon-button aria-label="Menu icon" (click)="_toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>TASK MANAGER</h1>
</mat-toolbar>
