<div class="dark wrapper">

  <app-header (toggleMenu)="toggleMenu()"></app-header>
  <mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" [ngClass]="{'collapsed': isCollapsed}"
    >
      <mat-nav-list>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" mat-list-item>
          <span class="entry">
            <mat-icon>house</mat-icon>
            @if(!isCollapsed){
              <span>HOME</span>
            }
          </span>
        </a>
        <a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page" mat-list-item>
          <span class="entry">
            <mat-icon>task</mat-icon>
            @if(!isCollapsed){
              <span>TASKS</span>
            }
          </span>
        </a>
        <a mat-list-item>
          <span class="entry">
            <mat-icon>sell</mat-icon>
            @if(!isCollapsed){
              <span>TAGS</span>
            }
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class = "content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
