@if(form){
    <form [formGroup]="form" class = "form">
      <mat-form-field class="field-sm">
        <mat-label>Enter the title</mat-label>
        <input
          matInput
          placeholder="My task"
          formControlName = "title"
          required
        />
        @if (isControlInvalid('title')) {
          <mat-error>You must enter a value</mat-error>
        }
      </mat-form-field>
      <div>
        @if(taskStatus === TaskStatusEnum.loading){
            <button mat-flat-button
            [class.spinner]="true"
            [disabled]="true"
            ></button>
        }@else {
          <button mat-flat-button
            style="background-color:var(--button-primary)"
            (click) = "addTask()"
            data-testid = "add-new-task-form"
          >
            <mat-icon>add</mat-icon> ADD NEW TASK
          </button>
          }
      </div>

    </form>
}
